<html>
<head>
    <title></title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}geen titel{% endblock %}</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'checklist/style.css' %}">

{% block script %}
{% endblock %}
<body class="body">
    <div class="content" id="content" name="content">
	{% block content %}
	{% endblock %}
    </div>
    <div class="footer">
        <p>Made by: ChezHJ<br>
            {% block footer %}
            {% endblock %}
        </p>
    </div>
      
</body>
</html>