{% extends "checklist/base.html" %}
{% load static %}
{% load environment_tags %}
{% block title %}
    Smart Checklist
{% endblock title %}
{% block script %}
    <script src="{% static 'checklist/toggle_switches.js' %}"></script>
    <script>
    function GetSelected() {
        // Reference the Table.
        var grid = document.getElementById("Table1");

        // Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByClassName("clCheckBox");

        // Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            var row = checkBoxes[i].parentElement.parentElement;

            row.classList.remove("active-row"); 

            // Check if the checkbox is checked.
            if (checkBoxes[i].checked) {
                row.classList.add("checked-row");
                
                var lastChecked = i;
            } else {
                row.classList.remove("checked-row");

             
            }
        }

        // Highlight the next row as active-row.
        if ((lastChecked + 1) < checkBoxes.length) {
            checkBoxes[lastChecked + 1].parentElement.parentElement.classList.add("active-row");
        }
    }

    function switchCheckbox(id) {
        var checkbox = document.getElementById(id)
        checkbox.checked=!checkbox.checked
        GetSelected(); 
            
    }


    </script>
{% endblock script %}
{% block content %}
    <div class="fit-content">
        <legend>
            {% csrf_token %}
            <h1>{{ procedure.title }}</h1>
            {% if request.session.dual_mode %}
                {% include "checklist/toggle_switches.html" %}
            {% endif %}
        </legend>
        <div class="table-div">
            <table id="Table1" class="styled-table">
                <thead>
                    <tr>
                        <th>Done</th>
                        <th>Item</th>
                        {% if request.session.dual_mode %}<th>Role</th>{% endif %}
                        <th>Check</th>
                        <th class="attributes-column">attributes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in check_items %}
                        {% if forloop.counter == 1 %}
                            <tr id="row{{ forloop.counter }}"
                                class="active-row {% if item.lowlight %}lowlight{% endif %}"
                                data-role="{{ item.role }}">
                            {% else %}
                                <tr id="row{{ forloop.counter }}"
                                    {% if item.lowlight %}class="lowlight"{% endif %}
                                    data-role="{{ item.role }}">
                                {% endif %}
                                <td>
                                    <input type="checkbox"
                                           id="name{{ item.id }}"
                                           name="name{{ item.id }}"
                                           class="clCheckBox"
                                           onclick="GetSelected()">
                                </td>
                                <td class="text-cel" onclick="switchCheckbox('name{{ item.id }}')">{{ item.item }}</td>
                                {% if request.session.dual_mode %}
                                    <td class="text-cel"  onclick="switchCheckbox('name{{ item.id }}')">{{ item.role }}</td>
                                {% endif %}
                                <td class="text-cel descrip"
                                    onclick="switchCheckbox('name{{ item.id }}')">{{ item.setting }}</td>
                                <td class="attributes-column"
                                    onclick="switchCheckbox('name{{ item.id }}')">
                                    <ul class="cl-taglist">
                                        {% for attrib in item.attributes.all %}
                                            {% include "checklist/attrib_detail.html" %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="btn-bar">
                    {% if prevproc %}
                        <a class="btn btn-left"
                           href="{% url 'checklist:detail' prevproc.slug %} ">Prev</a>
                    {% endif %}
                    {% if nextproc %}
                        <a class="btn btn-right"
                           href=" {% url 'checklist:detail' nextproc.slug %} ">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block footer %}
        query time: {{ proctime }} s
        {% if 'DEBUG'|setting == True %}{{ request.session.attrib }}{% endif %}
    {% endblock footer %}
    {% block end-script %}
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Call GetSelected() on page load
            GetSelected();

            // Override the updateSessionRoles callback to include a page reload
            const pilotRoleSwitch = document.getElementById("pilot_role");
            const captainRoleSwitch = document.getElementById("captain_role");

            if (pilotRoleSwitch && captainRoleSwitch) {
                pilotRoleSwitch.addEventListener("change", () => {
                    updateSessionRoles(() => {
                        location.reload(); // Reload the page after updating the session
                    });
                });

                captainRoleSwitch.addEventListener("change", () => {
                    updateSessionRoles(() => {
                        location.reload(); // Reload the page after updating the session
                    });
                });
            }
        });
        </script>
    {% endblock end-script %}
