{% extends "checklist/base.html" %}
{% load static %}
{% block title %}
    Procedure overview
{% endblock title %}
{% block script %}
{% endblock script %}
{% block content %}
    <div class="fit-content">
        <legend>
            {% csrf_token %}
            <h1>Procedure overview</h1>
            {% if request.session.dual_mode %}
                {% include "checklist/toggle_switches.html" %}
            {% endif %}
        </legend>
        {% if error_message %}
            <p>
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}
        {% if procedure_list %}
            <div class="table-div">
                <table id="Table1" class="styled-table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Procedure</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proc in procedure_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{{ proc.get_absolute_url }} ">{{ proc.title }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="btn-bar">
                    <a class="btn btn-right" href=" {% url 'checklist:export' %} ">Export xCheckList</a>
                </div>
            </div>
        {% else %}
            <p>No items are available.</p>
        {% endif %}
    </div>
{% endblock content %}
{% block end-script %}
    <script src="{% static 'checklist/toggle_switches.js' %}" defer></script>
{% endblock end-script %}
