{% extends "checklist/base.html" %}
{% block title %}
    Procedure overview
{% endblock title %}
{% block content %}
    <h1 class="styled-text">Procedure overview</h1>
    {% if procedure_list %}
        <table id="Table1" class="styled-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Procedure</th>
                </tr>
            </thead>
            <tbody>
                {% for proc in procedure_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{{ proc.get_absolute_url }} ">{{ proc.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
{% endblock content %}
