<div class="toggle-row">
    <span class="toggle-row-label">Pilot Flying</span>
    <label>
        <input type="checkbox" class="switch-input"
               name="pilot_role" id="pilot_role" value="PM"
               {% if request.session.pilot_role == "PM" %}checked{% endif %}>
        <span class="switch-track"></span>
    </label>
    <span class="toggle-row-label">Pilot Monitoring</span>
</div>
<div class="toggle-row">
    <span class="toggle-row-label">Captain</span>
    <label>
        <input type="checkbox" class="switch-input"
               name="captain_role" id="captain_role" value="FO"
               {% if request.session.captain_role == "FO" %}checked{% endif %}>
        <span class="switch-track"></span>
    </label>
    <span class="toggle-row-label">First Officer</span>
</div>
